.formulario-container {
    max-width: 800px; /* Aumentamos el ancho del formulario */
    margin: 0 auto;
    padding: 30px; /* Más espacio interno */
    background-color: #222222;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombras más definidas */
  }
  
  h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 32px; /* Tamaño de letra más grande */
    font-weight: bold; /* Letras más gruesas */
    
  }
  
  .form-group {
    margin-bottom: 20px; /* Más espacio entre los campos */
    cursor: pointer;
  }
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #bbb;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
  }
  
  
  .form-group label {
    font-weight: bold;
    font-size: 20px; /* Letras más grandes */
    display: block;
    margin-bottom: 8px;
    color: #ffffff; /* Color más elegante */
    text-align: center;
    
  }
  
  .form-control {
    width: 100%;
    padding: 15px; /* Más espacio interno en los campos */
    font-size: 18px; /* Tamaño de texto más grande */
    border: 1px solid #bbb;
    border-radius: 6px;
    box-sizing: border-box;
    
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); /* Más brillo al seleccionar */
    
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 15px; /* Botón más alto */
    background-color: #007bff;
    color: white;
    font-size: 20px; /* Letras del botón más grandes */
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    /* Ajustes para pantallas más pequeñas */
    .formulario-container {
      max-width: 100%;
      padding: 20px;
      
    }
  
    
  
    .form-control {
      font-size: 16px;
      padding: 12px;
    }
  
    .btn {
      font-size: 18px;
      padding: 12px;
    }
  }

  .custom-snackbar {
    font-size: 48px;
    background-color: #ffcc00;
    color: black;
    text-align: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 60px; /* Justo debajo del footer */
    z-index: 1000;
    padding: 15px;
  }
  .large-snackbar {
    font-size: 24px;
    background-color: #ffcc00;
    color: black;
    text-align: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 60px; /* Justo debajo del footer */
    z-index: 1000;
    padding: 25px;
    border-radius: 10px;
  }
  
  /* Estilo para los días no elegibles */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0.5); /* Oscurece los días no seleccionables */
  }
  
  
  