<div class="reservation-form">
  <app-navbar></app-navbar>
  <div class="reserva-wrapper">
    <br><br><br>
    <h1 style="text-align: center; color: #1a1b1a; font-size: 2.5em; font-weight: bold; margin-bottom: 20px;">Realice su reserva</h1>
    <app-quick-action-form></app-quick-action-form>
    <br><br>
    <div class="reserva-container">
      <app-service-list></app-service-list>
      <app-availability-calendar></app-availability-calendar>
    </div>
    
    
    <br><br><br>
    <app-footer></app-footer>
  </div>
